<ul class="nav navbar-nav stack-to-top">

    <li>
        <button type="button" ng-click="filterCategories('A')">A</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('B')">B</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('C')">C</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('D')">D</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('E')">E</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('F')">F</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('G')">G</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('H')">H</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('I')">I</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('J')">J</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('K')">K</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('L')">L</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('M')">M</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('N')">N</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('O')">O</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('P')">P</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('Q')">Q</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('R')">R</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('S')">S</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('T')">T</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('U')">U</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('V')">V</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('W')">W</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('X')">X</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('Y')">Y</button>
    </li>
    <li>
        <button type="button" ng-click="filterCategories('Z')">Z</button>
    </li>
</ul>

</br></br></br>


<div>
    <input type="search" ng-model="search" placeholder="Filter categories">
    <div class="row">
        <div format-category-listings>
        </div>
    </div>
</div>
